// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap/scss/bootstrap";
h1{
  text-align:center;
}
.btn{
  color:white;
  background-color: white;
}
